
body {
  font-family: Arial, sans-serif;
  background-color: lightgrey;
}

h1 {
  color: #0066cc;
}

p {
  font-size: 14px;
  line-height: 1.5;
}
p {
  color: black;
}
#intro {
   color: green;
  
}
.note {
  color: blueviolet;
}
.box {
  width: 500px;
  height: 100px;
  border: 2px solid black;
  padding: 20px;
  margin: 0px;
  box-sizing: "50";
}